@{
    ViewBag.Title = "داشبورد";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">سوابق بیمه ای</h1>
        <p class="lead">این سایت برای راهنمایی افرادی که نیاز به مشاهده سوابق بیمه ای خود می باشند راه اندازی شده است، افرادی چون کارمندان دولت، کارگران، پیمانکاران و همه افرادی که عضو بیمه تامین اجتماعی می باشند. </p>
       
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">ثبت سوابق بیمه</h2>
            <p>
                جهت ثبت سوابق بیمه ای جدید از دکمه ذیل استفاده نمایید.
            </p>
            <p><a class="btn btn-dark" href="/TimeSheets">ثبت جدید</a></p>
        </section>
       
    </div>
</main>